@import "tailwindcss";

:root {
    font-family: "JetBrains Mono", monospace;
    color-scheme: dark;
}

@theme {
    --color-terminal-green: #4af626;
    --color-terminal-amber: #ffb000;
    --color-terminal-cyan: #00ffff;
}

body {
    background-color: #0a0a0a;
    color: #4af626;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #0a0a0a;
}

::-webkit-scrollbar-thumb {
    background: #222;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: #333;
}

input:focus {
    outline: none;
}
